.container {
  width: 100vw;
}

.spotify_title {
  margin-left: 15px;
  color: white;
}

.input_body {
	margin-top: 30px;
	font-size: 25px;
}
.form {
	margin-top: 30px;
	margin-left: -27px;
}

button {
	height: 55px;
}


.btn {
	display: inline-block;
	background: transparent;
	color: inherit;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;
}
.btn--primary {
	background: #7f8ff4;
	color: #fff;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
	border-radius: 2px;
	padding: 12px 36px;
}
.btn--primary:hover {
	background: #6c7ff2;
}
.btn--primary:active {
	background: #7f8ff4;
	box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.btn--inside {
	margin-left: -30px;
}
.form__field {
	width: 360px;
	background: #fff;
	color: #a3a3a3;
	font: inherit;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
	border: 0;
	outline: 0;
	padding: 22px 18px;
}

.input_boxes {
	justify-content: space-between;
    align-items: baseline;
    display: flex;
	margin-left: 0px;
}



